body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: #e5e5e5;
}

.Photo__cover {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.ytimg.com/vi/UYv1vJOqhnQ/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
}

.Photo__cover:after {
  /* content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .75); */
}

.Keyboards {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 40vh;
  background: #fff;
  margin: auto;
}